body {
    margin: 0;
    font-family: 'Lora', serif;
}

img {
    width: 100%;
}

.clearfix {
    clear: both;
}


header {
    background-image: url("../images/main_banner.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
}

header img {
    width: 300px;
    margin: 10px 0 0 30px;
}

nav {
    position: absolute;
    top: 20px;
    right: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 96px;
    font-weight: 800;
    color: #88EBF2;
    margin: 0;
}

header h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: white;
    letter-spacing: 40px;
    margin: 0;
}

#blurb {
    position: absolute;
    bottom: 10px;
    left: 30px;
}


main {
    background-color: #DDD9D8;
    padding-bottom: 50px; 
}

.section-title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.section-title h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 30px;
    margin: 0;
}

#services {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 50px; 
}

.card {
    width: 300px;
    float: left;
    margin-left: 30px;
}

.card:first-child {
    margin-left: 0px;
}

.card h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

footer {
    background-color: #88EBF2;
    padding: 40px 0;
}

.footer-container {
    width: 960px;
    margin: 0 auto;
}

.footer-logo {
    width: 300px;
    float: left;
    font-family: 'Lora', serif;
    font-size: 14px;
}

.footer-logo img {
    width: 200px;
    margin-bottom: 10px;
}

.footer-text {
    float: left;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: fit-content; 
}

.bold {
    font-weight: 800;
}
.footer-cafe{
    display: flex; 
    flex-direction: column;
}
.footer-maps {
    width: 300px;
    float: left;
}

.map {
    text-align: center;
    margin-bottom: 10px;
    width: fit-content;
}
.map img {
    width: 100%;
} 
.footer-links {
    clear: both;
    text-align: center;
    margin-top: 20px;
}

.footer-links ul {
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 0 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: black;
}

.footer-links ul li a:hover {
    color: white;
}

.subfooter {
    background-color: #68a4ac;
    padding: 10px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: white;
    margin-top: 20px;
}

.clearfix {
    clear: both;
}
